@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box; }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.Header__TextBox {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -40%); }

.Heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .Heading-primary--main {
    animation-timing-function: ease-out;
    animation: moveInLeft 2s;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .Heading-primary--sub {
    animation: moveInRight 2s;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.74rem;
    margin-bottom: 6rem; }

.heading-secondary {
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.Button {
  border-radius: 10rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  transition: transform 0.2s;
  /* Has to be in the initial state */
  position: relative;
  animation: moveInBottom 2s ease-out 0.75s; }
  .Button:link, .Button:visited {
    text-transform: uppercase;
    text-decoration: none; }
  .Button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .Button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .Button:active {
    /* When button is clicked */
    transform: translateY(-0.1rem);
    /* This is apply hover initial state, it not uses -3px */
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .Button::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .Button--white {
    background: #fff;
    color: #777; }
    .Button--white::after {
      background: #fff; }
  .Button--green {
    background: #55c57a;
    color: #fff; }
  .Button--animated {
    transition: transform 0.4s;
    animation-fill-mode: backwards; }

.btn-text {
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px;
  position: relative; }
  .btn-text:link, .btn-text:visited {
    text-decoration: none; }
  .btn-text:hover {
    background: #55c57a;
    color: #fff; }

.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    font-size: 2rem;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .8s ease;
    width: 100%; }
    .card__side--front {
      background: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-primary {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-secondary {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-tertiary {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 23rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/nat-7.jpg"); }
  .card__heading {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    position: absolute;
    right: 2rem;
    text-align: right;
    text-transform: uppercase;
    top: 12rem;
    width: 75%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      margin: 0 auto;
      padding-left: 0;
      width: 80%; }
      .card__details ul li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem;
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all .2s;
    width: 55%;
    /* This make images responsive */ }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #28b485;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      transform: scale(1.05) translateY(-1rem);
      z-index: 1; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.95); }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.2s; }
  .feature-box__icon {
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    font-size: 6rem;
    margin-bottom: 5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.section-about {
  background: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }

.section-features {
  background-position: top;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/nat-4.jpg");
  margin-top: -12vh;
  padding: 20rem 0;
  transform: skewY(-7deg);
  /* Select direct children */ }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

.row {
  margin: 0 auto;
  max-width: 114rem;
  /*
    ^ -> classes starting with this statement
    * -> classes contains this statement
  */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.Header {
  background-position: top;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/hero.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .Header__Logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem; }
  .Header__Logo {
    height: 3.5rem; }
