.feature-box {
  background: rgba($white, .8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, .15);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.2s;

  &__icon {
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    color: transparent;
    font-size: 6rem;
    margin-bottom: 5rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
